body{
    background-color: white; 
    color: #000099;
    font-family: Arial, Helvetica, sans serif;
}
a {background-color: #cccccc; 
    color: #000099;
}
h1 { color:red;
    font-style: Times New Roman; }