body {
    background-color: yellow;
    color:Green;
    font-family: Arial, Helvetica, sans-serif;}
h1 {
    font-family: 'Times New Roman', Times, serif ;
    color:green; 
    background-color: white; }
a {
    background-color: white;
    color:green;

}