p.class {
    color:brown;
    font-size:1.2em;
    font-family: Arial,Verdana, Geneva, Tahoma, sans-serif; 

}
#new{
    background-color :#FFF8DC; 
    color: #000099;
    font-family: Arial,Helvetica ,sans-serif;
    font-weight: bold; 
    font-style:italic; 
   
}